* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: rgb(255, 253, 250);
}

/* body {
    background-image: linear-gradient(45deg, #b595b2, #d7a9c4, #D4AFCD, #db8fe1);
    background-size: 800%;
    animation: bg-animation 10s infinite alternate;
}

@keyframes bg-animation {
    0% {
        background-position: left;
    }

    100% {
        background-position: right;
    }
} */

.tr {
    margin: auto;
    width: 97%;
    margin-top: 1%;
    margin-bottom: 3%;
    padding: 30px;
    display: flex;
    justify-content: space-between;
    box-shadow: rgb(255, 222, 222) 20px 3px 20px 0px;
}

.tr h1 {
    letter-spacing: 2px;
    font-weight: 400;
    font-size: 45px;
    transition: 2s;
}

.tr h1:hover {
    padding: 0px 10px;
}

.tr button {
    height: 55px;
    margin-top: 1.5%;
    padding: 5px 10px;
    color: white;
    background-color: black;
    transition: 0.5s;
    border-radius: 8px;
    word-spacing: 2px;
}

.tr button:hover {
    padding: 1px 25px;
    cursor: pointer;
}

.tr button p {
    opacity: 0.7;
}

.row {
    margin: auto;
    width: 90%;
    padding: 25px;
    display: flex;
    justify-content: space-between;
    font-size: 25px;
    letter-spacing: 2px;
    border-top: 1px solid;
    border-bottom: 1px solid;
}

.row>h5:nth-child(1) {
    margin-left: 5%;
}

.row div {
    width: 48%;
    display: flex;
    justify-content: space-around;
}

#store div {
    width: 91%;
    margin-left: 60px;
    margin-bottom: 10px;
    margin-top: 10px;
    padding: 0px 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 20px;
}

#store div>div {
    width: 10%;
}

#store div img {
    height: 150px;
    transition: 0.2s;

}

#store div img:hover {
    height: 155px;
}

#store div p {
    margin-left: -4%;
    width: 35%;
    opacity: 0.6;
}

#store div h3 {
    margin-left: 3%;
    opacity: 0.7;
}

.b {
    margin: auto;
    margin-top: 5%;
    width: 70%;
    display: flex;
    justify-content: space-between;
}

.b button:nth-child(1) {
    background: none;
    border: none;
    padding: 15px 25px;
    border-radius: 10px;
    transition: 0.3s;
    position: relative;
    overflow: hidden;
    background-color: rgb(38, 38, 38);
    color: white;
}

.b button:nth-child(1):hover {
    cursor: pointer;
    color: rgb(139, 77, 77);
}

.b button:nth-child(1)::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background: rgb(255, 231, 231);
    border-radius: 0 0 50% 50%;
}

.b button:nth-child(1):hover::before {
    height: 180%;
}

.b button:nth-child(1) p {
    font-size: 15px;
    opacity: 0.6;
}

.b button:nth-child(2) {
    color: white;
    background-color: black;
    border-radius: 10px;
    transition: 0.5s;
}

.b button:nth-child(2):hover {
    padding: 0px 15px;
}

.b button:nth-child(2) p {
    opacity: 0.6;
}


.bimg {
    margin-top: 2%;
    height: 90px;
    width: 30%;
    margin-left: 55%;
}

#store+div {
    margin: auto;
    width: 90%;
    padding: 15px;
    margin-top: 1%;
    display: flex;
    border-top: 1px solid;
    border-bottom: 1px solid;
}

#store+div p {
    width: 20%;
    margin-left: 77%;
    display: flex;
    font-size: 18px;
    letter-spacing: 1px;
    opacity: 0.9;
}

#store+div p span:nth-child(1) {
    margin-left: 15%;
}