body {
  background-color: #f2f2f2;
}

* {
  margin: 0;
  padding: 0;

  font-family: Lato, Helvetica, Arial, sans-serif;
}
#log {
  width: 100%;
  height: auto;
  border: 0px solid red;
  background-color: white;
}
.logo {
  width: 60%;
  height: auto;
  border: 0px solid red;
  background-color: white;
  margin: auto;
}
.logo img {
  width: 20%;
}

#container {
  border: 0px solid green;
  width: 70%;
  margin: auto;
  display: flex;
  gap: 20px;
  margin-top: 50px;
}

#left {
  border: 0px solid blue;
  width: 60%;
}

#form1 {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 20px;
  padding: 25px 20px 0px 20px;
  background-color: white;
}
#form1 input,
#form1 select {
  padding: 10px 0px 10px 0px;
  border-radius: 5px;
  border-color: #8c8c8c;
  background-color: white;
}
.shipping_Address p {
  background-color: white;
  font-size: large;
  font-weight: bold;
  padding: 20px;
}
#form1 > a {
  margin-bottom: 35px;
}

/* 2. delivery option  */

.delivery_option {
  border: 0px solid black;
  background-color: white;
  margin-top: 40px;
  padding-top: 20px;
  padding-bottom: 20px;
}
.delivery_option > p {
  background-color: white;
  font-size: large;
  font-weight: bold;
  padding: 20px;
}
.delivery_option > .standard_delivery {
  border: 0px solid red;
  width: 90%;
  margin: auto;
  padding: 10px 0px 10px 20px;
  border: 1px solid #c2c2c2;
  border-radius: 5px;
}
.standard_delivery p {
  padding: 10px;
}

.delivery_option > .tracked_delivery {
  border: 0px solid red;
  width: 90%;
  margin: auto;
  margin-top: 15px;
  padding: 10px 0px 10px 20px;
  border: 1px solid #c2c2c2;
  border-radius: 5px;
  margin-bottom: 35px;
}
.tracked_delivery p {
  padding: 10px;
}
.delivery_option_p {
  font-weight: bold;
}
.delivery_option_price {
  color: #118f24;
  font-weight: bold;
}
.standard_delivery:hover {
  cursor: pointer;
  border: 2px solid grey;
}
.tracked_delivery:hover {
  cursor: pointer;
  border: 2px solid grey;
}

/* payment mode  */

.payment_method {
  background-color: white;
  margin-top: 40px;
  border: 0px solid green;
  padding-bottom: 40px;
}

.payment_method > p {
  background-color: white;
  font-size: large;
  font-weight: bold;
  padding: 20px;
}

#payment_method_p {
  font-size: smaller;
  font-weight: 300;
}
.payment_method img {
  width: 10%;
}
#payment_method_img1 {
  padding-left: 20px;
}
#payment_method_form {
  padding: 20px;
  display: grid;
  gap: 20px;
  margin-top: 20px;
}
#payment_method_form:hover {
  cursor: pointer;
  border: 2px solid grey;
}
#payment_method_form input {
  padding: 13px 20px 13px 20px;
}
.different_payment_mehotd {
  width: 80%;
  margin: auto;
  margin-top: 50px;
  border: 1px solid black;
  padding: 20px;
  border-radius: 5px;
}
.different_payment_mehotd img {
  margin-top: 10px;
  width: 15%;
  padding-left: 5px;
}
.different_payment_mehotd:hover {
  border: 2px solid grey;
  cursor: pointer;
}
.submit_order {
  border: 0px solid orange;
  text-align: center;
  background-color: white;
  margin: auto;
  margin-top: 40px;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: space-around;
  padding: 4px;
}

.submit_order button {
  width: 95%;
  margin: 10px 10px 10px 10px;
  padding: 15px 20px 15px 20px;
  background-color: black;
  color: WHITE;
  border: none;
}

.submit_order button:hover {
  background-color: #22aca8;
  color: white;
  cursor: pointer;
}
.term_conditions {
  width: 85%;
  text-align: center;
  margin: auto;
  margin-top: 20px;
  font-size: 12px;
}

/* checkut footer  */
.checkout_footer {
  margin-top: 50px;
  width: 70%;
  border: 0px solid grey;
  margin: auto;
  margin-top: 60px;
  margin-bottom: 30px;
}
.checkout_footer div {
  color: gray;
}
.checkout_footer_p1 {
  margin-top: 20px;
  margin-bottom: 5px;
}
.checkout_footer p {
  font-size: 12px;
  color: grey;
}

/* right data  */

#order_container {
  border: 0px solid darkmagenta;
  background-color: white;
  display: flex;
  margin-top: 20px;
}

#img_div {
  border: 0px solid blue;
  width: 30%;
  text-align: center;
}
#descripton_div {
  width: 70%;
  border: 0px solid green;
  background-color: white;
}
#right {
  height: auto;
  width: 40%;
  border: 0px solid blue;
}
#order_container img {
  width: 100%;
}
#descripton_div p {
  background-color: white;
  padding: 10px 0px 0px 15px;
}
#order_data_card {
  background-color: white;
}

/* order_data  */
#order_data {
  background-color: white;
  padding: 20px;
  border: 0px solid black;
}

#order_number {
  margin-top: 15px;
  font-size: 15px;
}
#item_no {
  margin-top: 10px;
}

/* total to pay  */

#delivery_charge {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  margin-top: 50px;
  border-bottom: 1px solid grey;
  border-top: 1px solid grey;
}
#total_to_pay {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  margin-top: 20px;
  margin-bottom: 30px;
}

/* popup  */

/* <img src="https://i.ibb.co/9s7FyJx/404-tick.png" alt="404-tick" border="0"> */

/* .popup_container {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
} */
.popup {
  width: 400px;
  background-color: white;
  border-radius: 6px;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%) scale(0.1);
  text-align: center;
  padding: 0 30px 30px;
  color: #333;
  visibility: hidden;
}
.open_popup {
  visibility: visible;
  top: 320%;

  transform: translate(-50%, -50%) scale(1);
  /* transition: transform 0.4s, top 0.4s; */
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}
.popup img {
  width: 100px;
  margin-top: -50px;
  border-radius: 50%;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}
.popup h2 {
  font-size: 38px;
  font-weight: 500;
  margin: 30px 0 10px;
}
.popup button {
  width: 100%;
  margin-top: 50px;
  padding: 10px 0;
  background: #6fd649;
  color: white;
  outline: none;
  font-size: 18px;
  border-radius: 4px;
  cursor: pointer;
  border: none;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}
