*{
   
    font-family:'Lato-Light',
        Helvetica,
        Arial,
        sans-serif ;
}

#conatiner {
    display: flex;
    justify-content: space-between;
    position: relative;

}

#refine {
    width: 25%;
    border: 1px solid blue;


}

#brief_intro {
    width: 100%;
}

#product {
    width: 75%;
    border: 0px solid green;
    margin: 20px;

}

#product_grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 5%;
}

.product_img {
    overflow: hidden;
    position: relative;
    transition: opacity 0.4s ease-out;
}

.product_img {
    cursor: pointer;

}

.product_img img {
    width: 100%;
}

.product_img .Image2 {
    left: 0;
    top: 0;
    opacity: 0;
    position: absolute;
    z-index: -1;

}

.product_details:hover .Image2 {
    width: 100%;
    opacity: 1;
    z-index: 0;
}

.Buy_btn {
    padding: 13px;
    color: #cae9d1;
    background-color: #333333;
    width: 100%;
    border: none;
}

.Buy_btn:hover {
    background-color: #9cece0;
    color: black;
}

#categories {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin-top: 15px;
}

#categories p {
    border: 1px solid black;
    padding: 10px;
    width: 90%;

}

#categories :hover {
    background-color: #b7e7e0;
}

#myBtn {
    background-color: white;
    border: none;
    text-decoration: underline;
    text-align: left;
    padding: 5px;
}

#select {
    padding: 10px;
    padding-right: 10%;
}

.Gift_option {
    border: 1px solid #ba3d49;
    width: 38%;
    padding: 8px;
}

/* gift popup */
 .bg-modal {
     width: 100%;
     height: 100%;
     background-color: rgba(204, 204, 204, 0.7);
     display: flex;
     position: absolute;
     top: 0;
     justify-content: center;
     align-items: center;
     display: none;
 }

 .modal-content {
     width: 400px;
     height: 180px;
     background-color: white;
     border-radius: 4px;
     text-align: center;
     padding: 20px;
     position: relative;
 }

 .modal-content h3 {
     font-family: 'Lato-Light', Helvetica, Arial, sans-serif;
     font-size: 18px;
     font-weight: 400;
     line-height: 22px;
     margin-top: 10%;
     color: #2e3337;
 }

 .modal-content p {
     font-family: 'Lato-Light', Helvetica, Arial, sans-serif;
     font-size: 14px;
     font-weight: 300;
     line-height: 20px;
     color: #2e3337;
 }

 #shop-now {
     padding: 13px;
     color: #cae9d1;
     background-color: #333333;
     width: 100%;
     border: none;
 }

 #shop-now:hover {
     background-color: #9cece0;
     color: black;
     cursor: pointer;
 }

 .close {
     position: absolute;
     top: 0;
     right: 14px;
     font-size: 50px;
     transform: rotate(45deg);
     cursor: pointer;

 }
 .close:hover{
    font-size: 55px;
 }