#heading {
    margin-left: 5%;
    padding-top: 20px;

}



#subHeading2 {
    /* border: 1px solid red; */
    margin-bottom: 10px;
    height: 70px;
    padding-top: 50px;
}


#form {
    /* border: 1px solid red; */
    width: 50%;
    height: 1100px;
    margin: auto;
    margin-top: 8%;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    ;
}





#Name {
    margin-left: 30px;
    width: 80%;
    margin-top: 2%;
    margin-bottom: 2%;
    height: 50px;
}

#email {
    margin-left: 30px;
    width: 80%;
    margin-top: 2%;
    margin-bottom: 2%;
    height: 50px;
}

#password {
    margin-left: 30px;
    width: 80%;
    margin-top: 2%;
    margin-bottom: 2%;
    height: 50px;
}

#ConfirmPassword {
    height: 50px;
    margin-left: 30px;
    width: 80%;
    margin-top: 2%;
    margin-bottom: 2%;
}

#ConfirmEmail {

    margin-left: 30px;
    width: 80%;
    margin-top: 2%;
    margin-bottom: 2%;
    height: 50px;

}

#CellPhone {
    margin-left: 30px;
    width: 80%;
    margin-top: 2%;
    margin-bottom: 2%;
    height: 50px;
}

#labelEamil {
    margin-left: 30px;

}

#labelPassword {
    margin-left: 30px;
    width: 80%;
}

#divImg {
    width: 100%;
    display: flex;
    /* justify-content: space-evenly; */
    /* border: 1px solid red; */
    margin-bottom: 20px;
}

#divGoogle {

    display: flex;
    border: 2px solid black;
    width: 30%;
    justify-content: space-around;
    margin-left: 30px;
}

#google {
    width: 50px;

    margin-left: 30px;
    /* border: 1px solid black; */
    height: 50px;

}

#divFacebook {
    display: flex;
    border: 2px solid black;
    width: 30%;
    justify-content: space-around;
    margin-left: 30px;
    /* padding-top: 2%; */
    /* margin-top: 20px; */
}

#facebook {
    width: 50px;
    margin-left: 30px;
    /* border: 1px solid black; */
    height: 50px;
}

#divImg1 {
    margin-top: 6%;
}

#divImg2 {
    margin-top: 6%;
}

#sign {
    margin-top: 5%;
    margin-left: 30px;
    height: 50px;
    width: 80%;
    color: white;
    background-color: black;
    font-size: 20px;

}

#sign:hover {
    background-color: rgb(0, 255, 242);
    color: black;

}

#boldDiv {
    margin-top: 40px;
    /* margin-left: 30px; */
    text-align: center;
}