#carousel{
   
    /* margin-top: 100px; */
    height: 500px;
 }
 
 #carousel img{
     display: flex;
     
     width: 90%;
     height: 450px;
     margin: auto;
     margin-top: 30px;
 }
 
 #shopCat{

    border: 0px solid green;
    display: grid;
    grid-template-columns: repeat(6 , 1fr);
    /* gap: 10px; */
    margin-top: 30px;

    height: auto;


 }

 #shopCat>a img{
width: 80%;
display: flex;
margin-left: auto;
 }

 #carousel+h2{
    text-align: center;
    font-family: sans-serif;
    color: rgb(46,51,55);
    
 }

 #details{
    border: 0px solid black;
    display: grid;
    margin-top: 30px;
    grid-template-columns: repeat(3,1fr);
    gap: 20px;

 }

 #details>div{
    border: 0px solid yellow;
    margin: auto;
    text-align: center;
    color: rgb(91,50,51);
 }

 #details img{
   display: flex;
   margin: auto;
   border-radius: 140px;
    width: 60%;
    text-align: center;
 }

 #details h2{
   font-family:monospace;
   font-size: 40px;
   font-weight:normal;
   
 }
 #details h3{
   font-family: sans-serif;
   font-size: 25px;
   font-weight: lighter;
 }

 #details p{
   font-size: 20px;
   font-family: sans-serif;

 }

 #details button{
   border: 1px solid rgb(50,50,51);
   font-weight: lighter;
   font-size: 15px;
   color: rgb(176,109,110);
   font-family: Georgia, 'Times New Roman', Times, serif;
   margin-top: 10px;
   height: 40px;
   background-color: transparent;
   width: 120px;
 }

 #details button:hover{
   cursor: pointer;
   background-color: thistle;
 }

 #shopCat+h2{
   text-align: center;
   margin-top: 25px;
   font-family: sans-serif;
   color: rgb(46,51,55);
 }


 * {
   margin: 0;
}

#line {
   margin-top: 2%;
}

.t {
   margin-top: 2%;
   margin-left: 30px;
   width: 55%;
   display: flex;
   justify-content: space-between;
   letter-spacing: 0.5px;
   font-size: 17px;
   opacity: 0.9;
}

.img {
   margin-top: 1%;
   margin-left: 40px;
   height: 50px;
   width: 58%;
   display: flex;
   justify-content: space-between;
}

.img button {
   width: 100px;
   background-color: black;
   color: white;
   border-radius: 8px;
}

.img button:hover {
   transition: 0.3s ease-in-out;
   width: 110px;
   cursor: pointer;
}

.img button p {
   font-size: 17px;
   opacity: 0.7;
}

.img div {
   width: 20%;
   display: flex;
   justify-content: space-between;
}

.container {
   margin: auto;
   width: 95%;
   margin-top: 3%;
   display: flex;
   gap: 230px;
}

#l {
   width: 170%;
   margin-bottom: 6%;
   opacity: 0.7;
}

.container div h4 {
   font-size: 19px;
   opacity: 0.8;
   letter-spacing: 0.5px;
   margin-bottom: 8%;
}

.container div p {
   font-size: 17px;
   line-height: 40px;
   opacity: 0.6;
   word-spacing: 1px;
}

.last {
   margin-top: 2%;
   width: 90%;
   display: flex;
   justify-content: space-between;
}

.last div:nth-child(1) {
   margin-left: 3%;
   line-height: 40px;
   width: 15%;
}

.last div:nth-child(1) h1 {
   letter-spacing: 5px;
   opacity: 0.8;
}

.last div:nth-child(1) p {
   opacity: 0.6;
}

.last div:nth-child(2) img {
   height: 100px;
   width: 350px;
}


