#carousel{
   
    /* margin-top: 100px; */
    height: 500px;
 }
 
 #carousel img{
     display: flex;
     
     width: 90%;
     height: 450px;
     margin: auto;
     margin-top: 30px;
 }
 
 #shopCat{

    border: 0px solid green;
    display: grid;
    grid-template-columns: repeat(6 , 1fr);
    /* gap: 10px; */
    margin-top: 30px;

    height: auto;


 }

 #shopCat>a img{
width: 80%;
display: flex;
margin-left: auto;
 }

 #carousel+h2{
    text-align: center;
    font-family: sans-serif;
    color: rgb(46,51,55);
    
 }

 #details{
    border: 0px solid black;
    display: grid;
    margin-top: 30px;
    grid-template-columns: repeat(3,1fr);
    gap: 20px;

 }

 #details>div{
    border: 0px solid yellow;
    margin: auto;
    text-align: center;
    color: rgb(91,50,51);
 }

 #details img{
   display: flex;
   margin: auto;
   border-radius: 140px;
    width: 60%;
    text-align: center;
 }

 #details h2{
   font-family:monospace;
   font-size: 40px;
   font-weight:normal;
   
 }
 #details h3{
   font-family: sans-serif;
   font-size: 25px;
   font-weight: lighter;
 }

 #details p{
   font-size: 20px;
   font-family: sans-serif;

 }

 #details button{
   border: 1px solid rgb(50,50,51);
   font-weight: lighter;
   font-size: 15px;
   color: rgb(176,109,110);
   font-family: Georgia, 'Times New Roman', Times, serif;
   margin-top: 10px;
   height: 40px;
   background-color: transparent;
   width: 120px;
 }

 #details button:hover{
   cursor: pointer;
   background-color: thistle;
 }

 #shopCat+h2{
   text-align: center;
   margin-top: 25px;
   font-family: sans-serif;
   color: rgb(46,51,55);
 }

